
@import "../radio/styles/theme";

#electrode-app {
  background-color: @base;
  color: @baseContrast;

  .error {

    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .error_message {
      font-size: 1.8em;
      .back.error();
    }
    a {
      font-size: 1.5em;
      color: @error;
      background-color: @errorContrast;
      .back.hover();
    }

  }

  .background_credits {
    position: absolute;
    bottom: 10px;
    left: 10px;
    a { .front.primaryAndHover(); }
  }

  .falling_mic {
    position: absolute;
    height: 90vh;
    top: -15vh;
    left: 0;
  }

}
