
:root {
  --podcastWidth: 250px;
}

.radio[current-page=recordings] .radio-page {

  .filters {
    .flexautocenter();

    // SORTING AND GROUPING BUTTONS
    .sorting-button, .grouping-button {
      cursor: pointer;
      .back.secondary();
      margin: 1em;
      padding: .2em .8em;
    }

    // SORTING BUTTON
    .sorting-button {
      &:after {
        content: "▾";
        padding-left: 1em;
      }
      &[current-sorting="dateAsc"]:after { content: "▴"; }
    }

    // GROUPING BUTTON
    .grouping-button {
      &[current-grouping=true] { .back.selected(); }
    }

  }

  .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .podcast-group-title {
      font-family: @basefontBold;
      width: 100%;
      font-size: 1.2em;
      padding-top: 1em;
      text-align: center;
    }

    .podcast {
      display: flex;
      flex-direction: column;
      width: var(--podcastWidth);
      padding: calc(var(--podcastWidth) / 15);

      .podcast-preview {
        width: calc(var(--podcastWidth) - 2em);
        height: calc((var(--podcastWidth) * 9/16) - 2em);
        background-size: cover;
        background-position: center;
        cursor: pointer;
        position: relative;

        // OVERLAY
        .podcast-preview-overlay {
          .flexautocenter();
          background-color: rgba(0,0,0,0.2);
          position: absolute;
          width: 100%; height: 100%; top: 0; left: 0;
          display: none;
          .podcast-preview-overlay-icon {
            font-size: 2em;
            color: @base;
          }
        }
        &:hover .podcast-preview-overlay { display: flex; }

        // TIME
        .podcast-preview-time {
          position: absolute;
          font-size: .7em;
          right: .5em;
          bottom: .5em;
          color: @base;
          background-color: @baseContrastTransparent;
          padding: .5em;
        }

      }

      .podcast-details {
        .flexautocenter();
        font-size: .7em;
        padding: .5em 0;

        .podcast-program {
          // background-color: @baseContrast;
          // color: @base;
          border: 1px @baseContrast solid;
          border-radius: .8em;
          padding: .2em .8em;
        }
        .podcast-date {
          flex-grow: 1;
          text-align: right;
        }
      }

      .podcast-title {
        font-size: 1.2em;
        cursor: pointer;
      }

    }
  }

}
