
.radio-page {
  top: 0;
  right: 0;
  width: calc(100% - @menuWidth);
  height: calc(100% - @playerHeight);
  position: absolute;
  font-size: 1.3em;
  padding: 2em;
  overflow: auto;

  .page-title {
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
    font-family: @basefontBold;
  }

}

@import "page/contacts";
@import "page/live";
@import "page/programs";
@import "page/recordings";
