
// @media all and (orientation:portrait) {
@media (any-pointer:none), (any-pointer:coarse), (max-width: 600px) {

  //
  :root {
    --podcastWidth: 150px;
  }

  // ALL PAGES (EXCEPT HOME)
  .radio:not([current-page=home]) {

    // page should be full width
    .radio-page {
      width: 100%;
      transition: right .5s;
      font-size: 1.1em;
    }

    // show menu view toggling
    .radio-menu_button { display: block; }

    // menu position (hidden)
    .radio-menu, .radio-decoration > .line_vert, .radio-decoration > .background {
      left: -@menuWidth;
      transition: left .5s;
    }

    // menu position (visible)
    &.menu-visible {
      .radio-menu, .radio-decoration > .line_vert, .radio-decoration > .background { left: 0; }
      .radio-page {
        right: -@menuWidth;
        opacity: .5;
      }
    }

    // locale switcher
    &:not(.menu-visible) .radio-menu .locale_switcher { display: none; }

    // player
    .radio-player-timeline {
      width: calc(100% - @playerHeight - 20px);
      margin-left: 10px;
    }

  }

  // HOME PAGE
  .radio[current-page=home] {
    .radio-menu {
      width: 80%;
      .title {
        width: 100%;
        margin-left: 0;
      }
      .pages_list > img {
        background-color: @baseTransparentLess;
      }
    }
  }

}

@media (any-pointer:none), (any-pointer:coarse), (max-width: 450px) {

  .radio:not([current-page=home]).menu-visible .radio-menu .locale_switcher {
    right: 20px;
    & > div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

}
