
// @base is the default color of backgrounds
// @baseContrast will be applied to texts having @base background
@base: #FFFFFF;
@baseTransparent: #FFFFFF88;
@baseTransparentMore: #FFFFFF33;
@baseTransparentLess: #FFFFFFCC;
@baseContrast: #000000;
@baseContrastTransparent: #00000088;

// @primary is the color of buttons, and al elements you want to be nicely contrasted with base in page
// @primaryContrast will be applied to texts having @primary background
@primary: #08FFBC; // should have fare contrast with @base and @secondary
@primaryTransparent: #08FFBC88;
@primaryTransparentMore: #08FFBC33;
@primaryTransparentLess: #08FFBCCC;
@primaryContrast: black;

// @secondary is an alternative to @base when you want a background closer to @primary, but still keep some distance with @primary color, since some @primary buttons should contrast with it
// @secondaryContrast will be applied to texts having @secondary background
@secondary: #DDDDDD; // rgba(163, 239, 216, 0.99)
@secondaryTransparent: #DDDDDD88;
@secondaryTransparentMore: #DDDDDD33;
@secondaryTransparentLess: #DDDDDDCC;
@secondaryContrast: black;

// @hover is the color that will be applied to an element that is interractive when you hover over it
// @hoverContrast will be applied to texts having @hover background
@hover: #FFD703; // should have fare contrast with @base, @secondary and @selected
@hoverContrast: black;

// @selected well... is for selected elements :)
// @selectedContrast will be applied to texts having @selected background
@selected: #FFD703;  // rgba(253, 4, 132, 0.62) rgba(206, 95, 14, 0.60)
@selectedTransparent: #FFD70388;
@selectedTransparentMore: #FFD70333;
@selectedTransparentLess: #FFD703CC;
@selectedContrast: black;

// // font
// @basefontLight: Lato-Light;
// @basefont: Lato;
// @basefontBold: Lato-Bold;

// the height of the bottom player
@playerHeight: 55px;
@menuWidth: 400px;
